/* ul {
	padding: 30px;
	border: 1px solid red;
}
li {
	list-style-type: none;
	margin-bottom: 20px;
	border: 1px dashed black;
} */

/* body {
	justify-content: center;
}

#elem1 {
    background-color: purple;
    width: 300px;
    height: 300px;
    padding: 50px;
    box-sizing: border-box;
}

#elem2 {
    background-color: plum;
    width: 200px;
    height: 200px;
    padding: 50px;
    box-sizing: border-box;
}

#elem3 {
    background-color: pink;
    width: 100px;
    height: 100px;
    padding: 50px;
    box-sizing: border-box;
} */

/* div, ul, li {
	padding: 20px;
}

div {
	border: 1px solid red;
}
ul {
	border: 1px solid orange;
}
li {
	border: 1px solid green;
} */

/* #block:not(.active) {
    display: none;
} */
